<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

    <title>Smart Home App</title>
  </head>
  <body>
    <div id="app"> 
      <div v-if="showBooks">
        {{title}} - {{author}} - {{age}}   
      </div>
      <div>
        <button v-on:click="age++">Increase the age</button>
      </div>

      <div>
        <button v-on:click="age--">Decrease the age</button>
      </div>
     
      <div @click="toggleShowBooks">
        <button>
          <span v-if="showBooks">Hide Books</span>
          <span v-else>Show Books</span>
        </button>
      </div> 
      <div></div>
    </div>
    <script type="module" src="/src/main.js"></script>
  </body>
</html>
